.Box{
    flex-grow:1;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items:center ;
    position: relative;
    height:100vh
}


.utecLogo{
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 25rem; 
}

.generalChats{
    overflow:hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width:100%;
    max-width: 80rem;
    height: calc(100vh-17rem) ;
}


.generalChats::-webkit-scrollbar {
    display: none;
}
.generalChats {
    scrollbar-width: none;
}

.generalChats {
    -ms-overflow-style: none;
}

.generalChat{
    background: rgb(200, 200, 200);
    border-radius: 0.5rem;
    margin: 1rem;
    padding:1rem 2rem;
    font-size: 1.25rem;
    display:flex;
    align-items: flex-start;
    text-align: justify;
    max-width: 80rem;
}

.generalChatImg{
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
}

.generalbot{
    background:rgba(76, 109, 128,1) ;
    width: fit-content;
    border-radius: 0.5rem;
}
.generalChatFooter{
    margin-top: 48.65rem;
    width:70rem;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;  
}
.generalInp{
    padding: 0.75rem;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid #000;
    width: 70rem;
    box-sizing: border-box;
}
.generalInp>input{
    margin-left: 1rem;
    width: 65rem;
    outline: none;
    color: black;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.inp>input, .generalsend{
    background: transparent;
    border: none;
    margin-right: 1rem;
}
