.SideBar {
    width: 28rem;
    background-color: rgb(200, 200, 200); 
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, width 0.3s ease; 
    position: fixed; 
    left: 0;
    top: 0;
}
.SideBar.hidden {
    transform: translateX(-100%); 
    width: 0;
    overflow: hidden;
  }


.logo{
    margin-right: 1rem;
    width: 40px; 
    height: 40px; 
}

.upperSide{
    height: 80%;
    padding:2rem;
}
.options{
    margin-top: 7rem;
    overflow:hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.upperSideTop{
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
}


.home, .explore, .history{
    margin-bottom: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    background-color:transparent;
    border: none;
    cursor: pointer; 
    width: 22rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
}

.home:hover, .explore:hover, .history:hover{
    background-color: rgb(220,220,220);
}

.homeIcon, .exploreIcon,.historyIcon{
    width: 3rem;
    height: 3rem;
    border-radius: 15rem;
    background: transparent;
    border: none; 
}

.homeText, .exploreText, .historyText{
    font-size: 1.5rem;
    color: white;
    padding-left: 1.5rem;
}


.lowerSide{
    height: 11.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
}

.aboutUs, .contactUs{
    background: none;
    cursor: pointer;    
    width: 25rem;
   
    border-radius: 1rem;
    border-color: transparent;
    margin-bottom: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.aboutUs:hover, .contactUs:hover{
    background-color: rgb(220,220,220);
}
.aboutUsText, .contactUsText{
    font-size: 1rem;
    color: white;   
}


