.layout {
    display: flex;
    flex-direction: row;
    min-height:100vh;
    /* padding-top: 60px; */

  }
  .main-content {
    flex-grow: 1; /* Ensures the main content takes the remaining space */
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    background-color: brown;
}



  

  
