.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: relative;
}

  .SideBar.visible + .main-content {
    transition: margin-left 0.3s ease; 
    margin-left: 28rem; 
}

.SideBar.hidden + .main-content {
  transition: margin-left 0.3s ease; 
  margin-left: 0; 
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  background-color: white;
}
